<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>
<p style="max-width: 450px; padding-top: 30px;">
  This is a Tweet dashboard created by @theodorklauritzen and @JohanHagaMohn between August 2020 and January 2022 in collaboration with Simula Research Laboratory under the supervision of @danielschroeder25. It visualizes and parces scraped Twitter data for future analysis.
</p>
<script type="text/javascript" src="/js/about.js"></script>