<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Contact</h1>
</div>
<p style="max-width: 450px; padding-top: 30px;">
  We can be found @theodorklauritzen and @JohanHagaMohn.
</p>

<script type="text/javascript" src="/js/contact.js"></script>