<h1 style="max-width:fit-content; padding-top: 20px;">{{message}}</h1>
<h2 style="max-width:fit-content; padding-top: 20px;">{{error.status}}</h2>
<pre style="max-width:fit-content; padding-top: 20px;">{{error.stack}}</pre>