<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Graph</h1>
    <div id="showTweets">
        <h3>Tweets</h3>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div id="graphContainer" class="border-bottom">

</div>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script type="text/javascript" src="/js/graph.js"></script>