.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  nav {
    flex: 0 1 auto;
  }
  .container-fluid {
    flex: 1 1 auto;
    .row {
      height: 100%;
    }
  }
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  * {
    flex: 0 1 auto;
  }
}
#graphContainer {
  height: 50vh;
  width: auto;
  max-Width: 100%;
}

#graphTweet, #randTweet > div {
  margin: 2vh auto 2vh auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
  flex: 1 1 auto;
  width: 50vw;
  border-radius: 10px;
  border-width: 1px;
  border-color: #dee2e6;
  flex-basis: fill;
  border-style: solid;
  transition: all 200ms ease;
  #tweetTop {
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px 15px 10px 15px;
    #tweetLogo {
      width: 5vh;
      height: 5vh;
      flex-grow: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      #twitterLogo {
        height: 3vh;
        width: 3vh;
        filter: invert(48%) sepia(93%) saturate(1472%) hue-rotate(176deg) brightness(98%) contrast(94%);
      }
    }
    #tweetProfileImage {
      width: 5vh;
      height: 5vh;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 5vh;
        height: 5vh;
        background-color: white;
        border: 1px solid #dee2e6;
      }
    }
    #tweetUser {
      flex-grow: 7;
      margin: 0 0 0 5px;
      #tweetUsername {
        &:hover {
          cursor: pointer;  
          text-decoration: underline;
        }
        color: rgb(20, 23, 26);
        font-size: 14px;
        font-weight: 700;
        line-height: 18.375px;
        overflow-wrap: break-word;
        white-space: nowrap;
        text-align: start;
        margin: 0 0 2px 0;
        z-index: 1;
      }
      #tweetTag {
        font-size: 12px;
        font-weight: 400;
        color: rgb(101, 119, 134);
      }
    }
  }
  #tweetMessage {
    height: 50%;
    font-size: 14px;
    line-height: 18.375px;
    white-space: pre-wrap;
    color: rgb(20, 23, 26);
    cursor: text;
    overflow-wrap: break-word;
    margin: 0 15px 0 15px;
  }
  #tweetDetails {
    height: 15%;
    margin: 0 15px 5px 15px;
    z-index: 1;
    &:hover {
      cursor: pointer;  
      text-decoration: underline;
    }
    #tweetTime {
      font-size: 14px;
      color: rgb(101, 119, 134);
      font-weight: 400;
      z-index: 1;
      &:hover {
        cursor: pointer;  
        text-decoration: underline;
      }
    } 

  }
  #userInfo, #userInfo > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h6 {
      font-weight: 500;
    }
  }
  #userData {
    height: 100%;
    width: 100%;
  }
  #userBanner {
    height: 25%;
    width: 100%;
    border-radius: 9px 9px 0 0;
  }
  .userIcon > svg{
    height: 1em;
    width: 1em;
  }
  #userProfileImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgb(20, 23, 26);
    margin: 3px;
    //transform: translateY(-50%);
  }
  #userProfile, #description, #userInfo {
    transform: translateY(-30px);
  }
  #userProfile, #userProfile > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    h6 {
      margin-bottom: .25rem;
    }
    #userTag {
      font-size: 12px;
    }
  }
  #userData {
    overflow-y: hidden;
  }
  #description {
    font-size: 9px;
    margin: 0 15px 0 15px
  }
  #userInfo {
    margin: 10px 15px auto 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    > div, >div svg {
      align-items: center;
      display: flex;
      h6 {
        margin: 0 0 0 5px;
      }
    }
  }

  #userInfo h6 {
    font-size: 9px;
  }
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

 @media only screen and (min-width: 768px) {
  #sidebarMenu {
    width: 25vw !important;
  }
 }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} 

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

circle:hover{
  cursor: pointer;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  flex-basis: 100%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.datapoint {
  width: 100%;
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
  vertical-align: middle;
  * {
    margin-bottom: 0;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  transform: scale(.8);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#showTweets {
  display: flex;
  flex-direction: row;
  h3 {
    transform: scale(.8);
    font-weight: 500;
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}