.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body .container-fluid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body .container-fluid .row {
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

#graphTweet {
  margin: 2vh auto 2vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 50vw;
  border-radius: 10px;
  border-width: 1px;
  border-color: #dee2e6;
  -ms-flex-preferred-size: fill;
      flex-basis: fill;
  border-style: solid;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

#graphTweet #tweetTop {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 10px 15px;
}

#graphTweet #tweetTop #tweetLogo {
  width: 5vh;
  height: 5vh;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#graphTweet #tweetTop #tweetLogo #twitterLogo {
  height: 3vh;
  width: 3vh;
  -webkit-filter: invert(48%) sepia(93%) saturate(1472%) hue-rotate(176deg) brightness(98%) contrast(94%);
          filter: invert(48%) sepia(93%) saturate(1472%) hue-rotate(176deg) brightness(98%) contrast(94%);
}

#graphTweet #tweetTop #tweetProfileImage {
  width: 5vh;
  height: 5vh;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

#graphTweet #tweetTop #tweetProfileImage:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-color: white;
  border: 1px solid #dee2e6;
}

#graphTweet #tweetTop #tweetUser {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  margin: 0 0 0 5px;
}

#graphTweet #tweetTop #tweetUser #tweetUsername {
  color: #14171a;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.375px;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-align: start;
  margin: 0 0 2px 0;
  z-index: 1;
}

#graphTweet #tweetTop #tweetUser #tweetUsername:hover {
  cursor: pointer;
  text-decoration: underline;
}

#graphTweet #tweetTop #tweetUser #tweetTag {
  font-size: 12px;
  font-weight: 400;
  color: #657786;
}

#graphTweet #tweetMessage {
  height: 50%;
  font-size: 14px;
  line-height: 18.375px;
  white-space: pre-wrap;
  color: #14171a;
  cursor: text;
  overflow-wrap: break-word;
  margin: 0 15px 0 15px;
}

#graphTweet #tweetDetails {
  height: 15%;
  margin: 0 15px 5px 15px;
  z-index: 1;
}

#graphTweet #tweetDetails:hover {
  cursor: pointer;
  text-decoration: underline;
}

#graphTweet #tweetDetails #tweetTime {
  font-size: 14px;
  color: #657786;
  font-weight: 400;
  z-index: 1;
}

#graphTweet #tweetDetails #tweetTime:hover {
  cursor: pointer;
  text-decoration: underline;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
@media only screen and (min-width: 768px) {
  #sidebarMenu {
    width: 25vw !important;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

circle:hover {
  cursor: pointer;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.datapoint {
  width: 100%;
  padding: 25px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
}

.datapoint * {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */